<section class="exercises">
  <div class="container">
    <h2 class="exercises__title">Exercises</h2>
    <div class="exercises__genre">
      <button class="genre__button current">Muscles</button>
      <button class="genre__button">Body parts</button>
      <button class="genre__button">Equipment</button>
    </div>
    <ul class="exercises__List">
      <li class="exercises__item">
        <div class="exercises__box">
          <h5 class="exercises__title">Abductors</h5>
          <p class="exercises__description">Muscles</p>
        </div>
      </li>
    </ul>
    <ul class="exercises__pages">
      <li class="pages__item"><button class="exercises__button">1</button></li>
      <li class="pages__item"><button class="exercises__button">2</button></li>
    </ul>
  </div>
</section>
