<section class="exercises">
  <div class="container">
    <h2 class="exercises__title">Exercises</h2>
    <ul class="exercises__genre">
      <li class="genre__item">
        <button type="button" class="genre__button muscles">Muscles</button>
      </li>
      <li class="genre__item">
        <button type="button" class="genre__button bp">Body parts</button>
      </li>
      <li class="genre__item">
        <button type="button" class="genre__button equipment">Equipment</button>
      </li>
    </ul>
    <ul class="exercises__List">
      
    </ul>
  </div>
  <div class="exercises__backdrop change__invisible">
    <form class="exercises__modal">
      <button type="button" class="exercises__close">X</button>
      <div class="modal__gif"></div>
      <div class="exercises__content">
        <h3 class="modal__title">Air bake</h3>
        <p class="modal__raiting">4.0</p>
        <ul class="modal__data">
          <li class="data__item">
            <span class="data__title">Target</span>
            <p class="data__description dataTarget">Abs</p>
          </li>
          <li class="data__item">
            <span class="data__title">Body Part</span>
            <p class="data__description dataPart">Waist</p>
          </li>
          <li class="data__item">
            <span class="data__title">Equipment</span>
            <p class="data__description dataEquipment">Body weight</p>
          </li>
          <li class="data__item">
            <span class="data__title">Popular</span>
            <p class="data__description dataPopular">150</p>
          </li>
        </ul>
        <div class="modal__callories">
          <span class="callories__title">Burned calories</span>
          <p class="callories__description">
            323<span class="callories__time">/3 min</span>
          </p>
        </div>
        <p class="modal__description">
          This refers to your core muscles, which include the rectus abdominis,
          obliques, and transverse abdominis. They're essential for maintaining
          posture, stability, and generating force in many movements. Exercises
          that target the abs include crunches, leg raises, and planks.
        </p>
        <button type="button" class="add__favorites">
          Add to favorites ❤️
        </button>
        <button type="submit" class="give__raiting">Give a rating</button>
      </div>
    </form>
  </div>
</section>
