<header class="header">
  <div class="container">
    <a class="header__logo" href="#">energy.flow</a>
    <button type="button" class="burger">
      <img src="./svg/align-justify.svg" alt="" />
    </button>
    <div class="header__slider">
      <div style="background: none" class="slider__box slider__home">
        <a class="header__slider__link" style="color: #fff" href="./index.html"
          >Home</a
        >
      </div>
      <div
        class="slider__box slider__favorits"
        style="
          padding-top: 6px;
          padding-bottom: 6px;
          padding-left: 26px;
          padding-right: 26px;
          background-color: white;
          border-radius: 30px;
          color: #1b1b1b;
        "
      >
        <a class="header__slider__link" href="./favorites.html">Favorites</a>
      </div>
    </div>
    <ul class="header__links">
      <li class="header__link">
        <a href="https://www.facebook.com/" class="link__icon"
          ><img src="./svg/facebook.svg" alt="link"
        /></a>
      </li>
      <li class="header__link">
        <a href="https://www.instagram.com/" class="link__icon"
          ><img src="./svg/instagram.svg" alt="link"
        /></a>
      </li>
      <li class="header__link">
        <a href="https://www.youtube.com/" class="link__icon"
          ><img src="./svg/youtube.svg" alt="link"
        /></a>
      </li>
    </ul>
  </div>
  <div class="backdrop change__invisible">
    <form class="header__mobile">
      <a class="mobile__logo" href="#">energy.flow</a>
      <button type="button" class="mobile__close">
        <img src="./svg/X.svg" alt="" />
      </button>
      <div class="mobile__slider">
        <div class="mobile-slider__box slider__home">
          <a class="mobile__slider__link" href="./index.html">Home</a>
        </div>
        <div class="mobile-slider__box slider__favorits">
          <a class="mobile__slider__link" href="./favorites.html">Favorites</a>
        </div>
      </div>
      <ul class="mobile__links">
        <li class="mobile__link">
          <a href="https://www.facebook.com/" class="link__icon"
            ><img src="./svg/Frame 52.svg" alt="link"
          /></a>
        </li>
        <li class="mobile__link">
          <a href="https://www.instagram.com/" class="link__icon"
            ><img src="./svg/instagram — копия.svg" alt="link"
          /></a>
        </li>
        <li class="mobile__link">
          <a href="https://www.youtube.com/" class="link__icon"
            ><img src="./svg/Frame 60.svg" alt="link"
          /></a>
        </li>
      </ul>
    </form>
  </div>
</header>
