<section class="favoritesHero">
    <div class="container">
    <div class="favorites__quote">
        <h3 class="favorites__quote__title">Quote of the day</h3>
            <p class="favorites__quote__description">
                A lot of times I find that people who are blessed with the most talent don't ever develop that attitude, and the ones who aren't blessed in that way are the most competitive and have the biggest heart.
            </p>
            <span class="favorites__quote__author">Tom Brady</span>
    </div>
    <img class="favorites__image" src="./images/Rectangle 42207.jpg" alt="">
    <div class="favorites__time">
        <h4 class="favorites__main">110 min</h4>
        <p class="favorites__description">Daily norm of sports</p>
    </div>
</div>
</section>