<section class="favoritesMain">
  <div class="container">
    <h2 class="favorites__title">Favorites</h2>
    <ul class="favorites__list">
      <!-- <li class="favorites__item">
        <div class="card__name">
          <span class="card__name__text">WORKOUT</span>
          <button type="button">
            <img class="card__delete__icon" src="./svg/Icon.svg" alt="" />
          </button>
          <a class="start__link" href="#">Start</a>
          <h5 class="card__title">Air bike</h5>
          <ul class="card__data">
            <li class="data__item">
              <p class="data__text">
                Burned calories: <span class="data__insert">312 / 3 min</span>
              </p>
            </li>
            <li class="data__item">
              <p class="data__text">
                Body part: <span class="data__insert">Waist</span>
              </p>
            </li>
            <li class="data__item">
              <p class="data__text">
                Target: calories: <span class="data__insert">Abs</span>
              </p>
            </li>
          </ul>
        </div>
      </li> -->
      <p class="favorites__none">It appears that you haven't added any exercises to your favorites yet. To get started, you can add exercises that you like to your favorites for easier access in the future.</p>
    </ul>
  </div>
</section>
