<footer class="footer">
    <div class="container">
        <div class="footer__box">
        <a class="footer__logo" href="">energy.flow</a>
        <ul class="footer__links">
            <li class="footer__link">
                <a href="https://www.facebook.com/" class="link__icon"><img src="./svg/Frame 52.svg" alt="link"></a>
            </li>
            <li class="footer__link">
                <a href="https://www.instagram.com/d.yakov29" class="link__icon"><img src="./svg/instagram — копия.svg" alt="link"></a>
            </li>
            <li class="footer__link">
                <a href="https://www.youtube.com/@Fas1man4ik" class="link__icon"><img src="./svg/Frame 52.svg" alt="link"></a>
            </li>
        </ul>
    </div>
    <div class="footer__content">
        <h2 class="footer__title">Transforming your <span class="footer__title__span">body</span> shape with us</h2>
        <form class="footer__subscribe">
            <span class="subscribe__text">Subscribe and learn about new exercises!</span>
            <input placeholder="Email" type="email" class="subscribe__input" type="text">
            <button type="submit" class="subscribe__button">Send</button>
        </form>
    </div>
    </div>
    <div class="footer__backdrop change__invisible">
        <form class="footer__modal">
            <button class="footer__close"><img src="./svg/blackx.svg" alt=""></button>
            <h1 class="footer__thank">We're excited to have you on board! 🎉 Thank you for subscribing to new exercises on Energy Flow. You've just taken a significant step towards improving your fitness and well-being.</h1>
        </form>
    </div>
</footer>
