<footer class="footer">
    <div class="container">
        <div class="footer__box">
        <a class="footer__logo" href="">energy.flow</a>
        <ul class="footer__links">
            <li class="footer__link">
                <a href="https://www.facebook.com/" class="link__icon"><img src="./svg/facebook.svg" alt="link"></a>
            </li>
            <li class="footer__link">
                <a href="https://www.instagram.com/" class="link__icon"><img src="./svg/instagram.svg" alt="link"></a>
            </li>
            <li class="footer__link">
                <a href="https://www.youtube.com/" class="link__icon"><img src="./svg/youtube.svg" alt="link"></a>
            </li>
        </ul>
    </div>
    <div class="footer__content">
        <h1 class="footer__title">Transforming your <span class="footer__title__span">body</span> shape with us</h1>
        <form class="footer__subscribe">
            <span class="subscribe__text">Subscribe and learn about new exercises!</span>
            <input placeholder="Email" type="email" class="subscribe__input" type="text">
            <button type="submit" class="subscribe__button">Send</button>
        </form>
    </div>
    </div>
</footer>
<p class="footer__copyright">Made with ❤️ by Yakov</p>