<section class="training">
  <div class="container">
    <div class="training__box">
      <img  class="training__image" src="./images/Rectangle 42207 — копия.png" alt="" />
    </div>
    <div class="training__content">
      <h3 class="training__title">110 min</h3>
      <p class="training__description">Daily norm of sports</p>
      <span class="training__text"
        >The World Health Organization recommends at least 150 minutes of
        moderate-intensity aerobic physical activity throughout the week for
        adults aged 18-64. However, what happens if we adjust that number to 110
        minutes every day?
      </span>
    </div>
  </div>
</section>
