.favoritesHero{
    margin-top: 100px;
}

.favorites__quote{
    background-color: #7E847F;
    padding-top: 64px;
    padding-left: 114px;
    padding-right: 64px;
    padding-bottom: 64px;
    border-radius: 50px;
}

.favorites__quote__title{
    font-size: 24px;
    color: white;
}

.favorites__quote__description{
    color: #d2d2d2;
    font-size: 16;
    width: 526px;
}

.favorites__quote__author{
    color: white;
}

.favorites__time{
    background-color: white;
    padding-left: 110px;
    padding-right: 110px;
    padding-top: 105px;
    padding-bottom: 105px;
    border-radius: 50px;
}

.favorites__image{
    border-radius: 50px;
}

.favorites__main{
    font-size: 24px;
}

.favorites__description{
    font-size: 14px;
    color: #777;
}