



.burger{
    display: none;
}

.header .container{
   align-items: center;
}

.header__logo{
    font-size: 28px;
    color: #1b1b1b;
}

.header__slider{
    background-color: #7E847F;
    height: 52px;
    display: flex;
    padding-left: 26px;
    padding-right: 26px;
    padding-top: 8px;
    padding-bottom: 8px;
    align-items: center;
    border-radius: 60px;
    gap: 10px;
    margin-left: auto;
    margin-right: auto;
}

.slider__home{
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 26px;
    padding-right: 26px;
    background-color: white;
    border-radius: 30px;
    color: #1b1b1b;
}



.header__slider__link{
    color: #1b1b1b;
}

.header__links{
    display: flex;
    gap: 12px;
}

.header__link{
    background-color: #fff;
    padding: 8px;
    border-radius: 10px;
    // border: #7E847F 1px solid;
}

.link__icon{
    width: 28px;
    height: 28px;
}


.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1;
}

.header__mobile{
    position: fixed;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background-color: #7E847F;
    border-radius: 30px;
    padding: 20px;
}

.mobile__close{
    background: none;
    display: flex;
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 0;
}

.mobile__logo{
    color: #fff;
}

.mobile__slider{
    margin-top: 200px;
}

.mobile-slider__box{
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
width: 100px;
height: 36px;
margin-top: 20px;
border-radius: 20px;
}

.mobile__slider__link{
    color: #1b1b1b;
}

.mobile__links{
    display: flex;
    justify-content: center;
margin-top: 100px;
    gap: 12px;
}

.header__link{
    background: none;
}

@media screen and (max-width:1400px) {
}

@media screen and (max-width:736px) {
    .header{
        // background-color: #e8e8e8;
    }
    .header__slider{
        display: none;
    }
    .burger{
        display: flex;
        margin-left: auto;
    }

    .header__links{
        display: none;
    }
}